.container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 1;
}
.container button {
  border-radius: 50px;
  color: #e7d7ad;
  background-color: #665c54;
  transform: scale(1);
}

.container button:hover {
  box-shadow: 0 5px 2px #32302f;
  animation: pop;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.1);
}
/* 

.container button:disabled {
  background-color: #eee;
  cursor: not-allowed;
  pointer-events: none;
}
*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pop {
  50% {
    transform: scale(1.1);
  }
}
