.container {
  width: 90%;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  margin: 20px auto 20px auto;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 1;
}

.left {
  display: flex;
  gap: 12px;
}

.container button {
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
