.node {
  width: 20px;
  height: 20px;
  outline: 1px solid #1d2021;
  display: inline-block;
}

.nodeFinish {
  background-color: red;
}

.nodeStart {
  background-color: green;
}

.nodeWall {
  outline: none;
  background-color: #486d4a;
}

.nodeMaze {
  outline: none;
  animation-name: drawWall;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
}

@keyframes drawWall {
  0% {
    transform: scale(0.4);
    background-color: #b3ceb4;
  }

  20% {
    background-color: #5d8d5f;
  }

  75% {
    transform: scale(1.1);
    background-color: #537d54;
  }

  100% {
    transform: scale(1);
    background-color: #486d4a;
  }
}

.nodeVisited {
  background-color: #8ec07c;
  animation-name: visitedAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  outline: none;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #9eb100;
    border-radius: 100%;
  }

  50% {
    background-color: #b8bb26;
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    background-color: #8ec07c;
  }
}

.nodeShortestPath {
  outline: none;
  background-color: #f0c54d;
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.3);
    background-color: #eebd35;
    border-radius: 100%;
  }

  50% {
    background-color: #eebd35;
  }

  100% {
    transform: scale(1);
    background-color: #f0c54d;
  }
}
