.node {
  width: 15px;
  height: 15px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.nodeFinish {
  background-color: red;
}

.nodeStart {
  background-color: green;
}

.nodeVisited {
  background-color: blue;
}
